body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/* ---------------
Typography 
------------------*/

h1 {
  font-family: "Lora", serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.subtitle {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0;
}

/* ---------------
Layout 
------------------*/

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  /*border: 5px dashed red;*/
}

.container-flex {
  display: flex;
  justify-content: space-between;
}

header {
  background: cornflowerblue;
  padding: 2em 0;
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
}

@media (max-width: 550px) {
  .container-flex {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
}

/* Navigation */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  color: cornsilk;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: magenta;
}

.current-page {
  border-bottom: 0.1px solid cornsilk;
}

.current-page:hover {
  color: cornsilk;
}

.carousel-item {
  /*border: 5px solid yellow;*/
  height: 400px;
  object-fit: cover;
  display: none;
}

.container .carousel-item,
.container .carousel-item-hidden {
  display: none;
}

.container .carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel-item img {
  width: 100%;
  max-width: 900px;
  object-fit: cover;
  height: 400px;
}

.about-main {
  width: 70%;
  border: 1px solid green;
  margin-left: 0;
}

.about-side {
  width: 30%;
  border: 1px solid red;
  margin-right: 0;
  vertical-align: middle;
}

.fa {
  vertical-align: middle;
}

@media (max-width: 550px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
  }

  .carousel {
    display: none;
  }

  .about-main {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .about-side {
    margin: 0 auto;
    width: 100%;
  }
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
